body {
    font-family: Arial, sans-serif;
    background-color: #E7DECC;
    margin: 0;
    padding: 0;
}
header {
    background: #0000000a;
    padding: 10px 0;
}
h1, h2 {
    text-align: center;
}
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}
p, ul {
    text-align: left;
    padding-left: 20px;
}
h3, h4 {
    text-align: left;
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: purple;
}
img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}
.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 5px 0;
}
.img-row {
    display: flex;
    gap: 0px;
    justify-content: center; 
    align-items: flex-start;
}
.img-row img {
    max-width: 48%;
    height: auto;
    display: block;
}
.main-nav a {
    padding: 6px 10px;
    border-radius: 6px;
}
div {
    text-align: center;
}


